html {
    height: 100%;
}

body {
    background: white;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;
    font-weight: 900;
    margin: 0.8em 0;
}

.book-cards {
    background: rgba(0, 0, 0, 0.15);
    padding: 2em 1.5em;
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    overflow: hidden;
    height: 302px;
}

.card {
    height: 300px;
    width: 350px;
    background: #FFF7DF;
    flex-shrink: 0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(189, 189, 189);
    overflow: hidden;
}

.card > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-bottom: 1px solid brown;
}

button {
    border: none;
    cursor: pointer;
    color: white;
}

.card > button {
    padding: 6px 10px;
    align-self: end;
    margin: 5px 10px;
    border-radius: 50%;
    background: brown;
    font-weight: 900;
}

.card div:first-of-type{
    font-size: 1.4em;
    font-weight: 900;
}

.add-btn {
    padding: 20px 40px;
    background: brown;
    border-radius: 20px;
    align-self: center;
    margin: 50px;
    font-size: 1.5em;
}

::backdrop {
    background: rgba(0, 0, 0, 0.45);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px;
    font-size: 1.2em;
}

.sub-btn > button {
    background: black;
    padding: 15px 35px;
    border-radius: 25px;
    font-size: 1.1em;
}

.sub-btn {
    display: flex;
    justify-content: space-evenly;
}

.check {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.meat-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.meat-input > input[type="text"] {
    width: 300px;
    padding: 10px;
    outline: 2px solid #c2c4c7;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    margin-bottom: 10px;
}

.meat-input > input:valid {
    outline: 2px solid #748f86;
    border: none;
}

.meat-input > input:invalid {
    outline: 2px solid rgb(207, 141, 163);
}

.dialog {
    border-radius: 25px;
    border: none;
}

label {
    margin-left: 15px;
}